@import "/home/envoidia/sys_colors.css";

* {
    font-family: 'SF Pro Text', 'Inter', 'Segoe UI, NotoSans Nerd Font', sans-serif;
    font-size: 13px;
    min-height: 0;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

#waybar {
    background: transparent;
    color: @text;
    margin: 0px;
    font-weight: 500;
}

#workspaces {
    padding: 0.3rem 0.7rem;
    margin-left: 11px;
    margin-right: 5px;
}

#workspaces button {
    padding: 0.3rem 0.6rem;
    background-color: @bg;
    border-radius: 0;
}

#workspaces button.active {
    color: @text;
    background-color: @bg-light;
}

#workspaces button:hover {
    background: @bg-light;
    color: @text;
}

#clock, #pulseaudio, #cpu, #custom-gpu, #memory {
    padding: 0.3rem 0.7rem;
    margin: 5px 0px; 
    border-radius: 0;
    box-shadow: none;
    min-width: 0;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    color: @text;
    background-color: @bg;
    outline: 3px;
    outline-color: @accent;
}

#clock:hover, #pulseaudio:hover, #cpu:hover, #custom-gpu:hover, #memory:hover {
    background-color: @bg-light;
}

#memory {
    margin-right: 20px;
}