@import "/home/envoidia/sys_colors.css";

* {
    font-family: 'SF Pro Text', 'Inter', 'Segoe UI, NotoSans Nerd Font', sans-serif;
    font-size: 13px;
    min-height: 0;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

#waybar {
    background: transparent;
    margin: 0px;
    font-weight: 500;
}

#window {
    padding: 0.3rem 0.7rem;
    margin: 5px 0px; 
    color: @text;
    background-color: @bg;
    border-radius: 0;
}

#waybar.empty #window {
    opacity: 0;
}

#workspaces button {
    color: @text;
    padding: 0.3rem;
    margin: 5px 0px 5px 0px;
    background-color: @bg;
    border-radius: 0;
    transition: none;
}

#workspaces button.active {
    color: white;
    background-color: @bg-light;
}

#workspaces button:hover {
    color: white;
    background: @bg-light;
    border-color: @bg-light;
}

#custom-arch, #clock, #pulseaudio, #battery, #custom-brightness, #cpu, #custom-gpu, #memory {
    padding: 0.3rem 0.7rem;
    margin: 5px 0px; 
    color: @text;
    background-color: @bg;
}

#custom-arch {
    padding: 0.3rem;
    margin-left: 20px;
}

#memory {
    margin-right: 20px;
}

#custom-arch:hover, #clock:hover, #pulseaudio:hover, #battery:hover, #custom-brightness:hover, #cpu:hover,
    #custom-gpu:hover, #memory:hover, #window:hover {
    color: white;
    background-color: @bg-light;
}

#custom-recording {
    padding: 0.3rem 0.7rem;
    margin: 5px 0px; 
    color: @accent;
    background-color: @accent-dark;
}

#custom-recording:hover {
    color: @accent-light;
    background-color: @accent;
}