@import "/home/envoidia/.config/selene_abyss.css";

* {
    font-family: "SF Pro Text", "Inter", "Segoe UI, NotoSans Nerd Font", sans-serif;
    font-size: 13px;
    min-height: 0;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

#waybar {
    background: transparent;
    margin: 0px;
    font-weight: 500;
}

#window {
    padding: 0.3rem 0.7rem;
    margin: 5px 0px;
    color: @fg;
    background-color: @bg;
    border-radius: 0;
}

#waybar.empty #window {
    opacity: 0;
}

#workspaces button {
    color: @fg;
    padding: 0.3rem;
    margin: 5px 0px 5px 0px;
    background-color: @bg;
    border-radius: 0;
    transition: none;
}

#workspaces button.active {
    color: @cyan;
    background-color: @bg-brighter;
}

#workspaces button:hover {
    color: @cyan;
    background: @bg-brighter;
    border-color: @bg-brighter;
}

#custom-arch,
#clock,
#pulseaudio,
#battery,
#custom-brighterness,
#cpu,
#custom-cpu-temp,
#custom-gpu,
#memory {
    padding: 0.3rem 0.7rem;
    margin: 5px 0px;
    color: @fg;
    background-color: @bg;
}

#custom-arch {
    color: @cyan;
}

#cpu {
    padding-right: 0.1rem;
    margin-right: 0px;
}

#custom-cpu-temp {
    padding-left: 0.2rem;
    margin-left: 0px;
}

#custom-arch {
    padding: 0.3rem;
    margin-left: 20px;
}

#custom-gpu {
    margin-right: 20px;
}

#custom-arch:hover,
#clock:hover,
#pulseaudio:hover,
#battery:hover,
#custom-brighterness:hover,
#cpu:hover,
#custom-cpu-temp:hover,
#custom-gpu:hover,
#memory:hover,
#window:hover {
    color: @cyan;
    background-color: @bg-brighter;
}

#custom-recording {
    padding: 0.3rem 0.7rem;
    margin: 5px 0px;
    color: @fg;
    background-color: @purple-dark;
}

#custom-recording:hover {
    color: @bg;
    background-color: @purple;
}
